@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@media only screen and (max-width: 600px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
        text-align: center;
    }
}

h1 {
    margin-bottom: 5vh !important;
    font-size: 3rem !important;
    background-color: rgba(235, 235, 235, .2);
}

.container {
    text-align: center;
    margin: auto;
    padding: 0 !important;
    margin-top: 5vh !important;
    box-shadow: 0px 0px 10px black;
}

.fa-check-square {
    font-size: 2.5rem !important;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.intro-text {
    margin-top: 5vh;
    margin-bottom: -5vh;
    font-size: 2rem !important;
}

.grid {
    display: grid;
    margin-top: 10vh;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    text-align: center;
}