header {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
        text-align: center;
    }
}

.grid div {
    margin-left: auto;
    margin-right: auto;
}