.scan-btn {
    margin-top: 5vh;
    font-size: 1.5rem !important;
    background-color: rgba(255, 255, 255, 0) !important;
    border: 1px solid white !important;
    box-shadow: 0px 0px 2px black;
}

@media only screen and (max-width: 600px) {
    .scan-btn {
        font-size: 1rem !important;
        background-color: rgba(255, 255, 255, 0) !important;
        border: 2px solid white !important;
        box-shadow: 0px 0px 2px black;
    }
}

.scan-btn:focus {
    box-shadow: 0 0 0px #000 !important;
}

.scan-btn:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
}