@keyframes shake {
    from { transform: rotate(-1deg); }
    to { transform: rotate(1deg); }
}

@media only screen and (max-width: 900px) {
    .face-frame {
        width: 20vh;
    }
}

.face-frame {
    width: 20vw;
    animation-name: shake;
    animation-duration: 1500ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.face-frame:hover {
    width: 20vw;
    cursor: pointer;
}